@import "tailwindcss";

/* Custom global styles */

html,
body {
  scroll-behavior: smooth;
  background-color: #0D0D0D; /* Deep black background */
  color: #ffffff;
}

a {
  @apply text-white hover:text-blue-500 transition-colors;
}

section {
  @apply py-20;
}

* {
  box-sizing: border-box;
}

