/* Navbar */
.navbar {
  position: relative;
  top: 0;
  z-index: 1000;
  width: 100%;
  background: linear-gradient(90deg, #3a1c71, #d76d77, #ffaf7b);
  color: white;
  transition: position 0.3s, top 0.3s;
}

.navbar.fixed {
  position: fixed;
  top: 0;
}

a:hover {
  color: #ffd700; /* Gold for hover effects */
}

/* Buttons */
button {
  background-color: transparent;
  color: white;
  border: none;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.navbar ul li {
  margin-right: 20px; /* Adjust as needed */
}

.navbar ul li:last-child {
  margin-right: 0;
}

/* Mobile Navigation */
@media (max-width: 1024px) { /* Applies to tablets and smaller */
  .navbar ul {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: 70%; /* Slightly larger width */
    background: white;
    text-align: center;
    display: none;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    padding: 20px 0;
  }

  .navbar ul.block {
    display: block;
    animation: fadeIn 0.3s ease-in-out;
  }

  .navbar ul li {
    padding: 12px 0;
    border-bottom: 1px solid #ccc; /* Bottom border */
  }

  .navbar ul li:last-child {
    border-bottom: none;
  }

  .navbar ul li a {
    display: block;
    padding: 10px;
    font-size: 18px;
    color: #3a1c71;
  }

  .navbar ul li a:hover {
    color: #d76d77;
  }

  /* Fade-in Animation */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
