.projects{
  min-height: 100vh; /* Ensures it covers the full height */
}
.project-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background: linear-gradient(135deg, #3a1c71, #d76d77);
  /* color: white; */
  border-radius: 15px;
  overflow: hidden;
}

.project-card:hover {
  transform: translateY(-5px); /* Lift effect */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
